{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                {% for item in form %}
                <p>
                    <label class="form-field" for="{{item.id_for_label}}">{{ item.label }}</label>{{ item }}
                </p>
                <div class="form-field">{{ item.errors }}</div>
                {% endfor %}
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!--  {% for item in form %}-->
<!--  <p>-->
<!--    <label class="form-label" for="{{item.id_for_label}}">{{ item.label }}</label>{{ item }}-->
<!--  </p>-->
<!--  <div class="form-error">{{ item.errors }}</div>-->
<!--  {% endfor %}-->